@import "../../../assets/sass/main";
.select-box {
  width: 180px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  &--container {
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  &--selected-item {
    border: 1px solid gray;
    text-align: center;
    background-color: pink;
    color: $color-black;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
    font-weight: 600;
  }
  &--items {
    overflow-y: auto;
    z-index: 300;
    height: 20rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    font-size: 1.5rem;
    background-color: $color-light-blue;
    box-shadow: 0px 4px 1rem rgba($color-black, .4);
  }
  &--items div {
    user-select: none;
    cursor: pointer;
    width: 180px;
    font-weight: 600;
    border-bottom: 1px solid $color-black;
    background-color: $color-white;
    padding: 10px;
    &:hover {
      background-color: #eee;
    }
  }
  &--arrow {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background: #aaa;
  }
  &--arrow-down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
  }
  &--arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
  }
}


