@import '../../assets/sass/main.scss';

.call{
    background-color: red;
    padding: 3em;
    background-image: linear-gradient(to bottom right, $color-dark-blue, $color-light-blue); 
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.call p{
    color: $color-white;
    font-size: 3.5em;
    font-weight: 700;
    margin: .5em;
}

.call__bar{
    padding: .3em;
    background-color: $color-yellow;
    width: 40%;  
    border-radius: .5em;
    margin: .5em;
}

.call__p--first{
    font-size: 4.5em !important;
    margin: 1em;
}

.call__button{
    background-color: $color-white;
    font-size: 2em;
    color: $color-dark-blue;
    font-weight: 700;
    padding: .8em;
    border-radius: .3em;
    margin-top: 2em;
    cursor: pointer;
}