@import '../../assets/sass/main.scss';

.feature {
  height: 80vh;
  display: flex;
  justify-content: center;

  &__h1 {
    font-size: 4rem;
    margin-top: 4rem;
  }

  &__container {


    &__element {


    }
  }
}