@import '../../assets/sass/main.scss';

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
                      to right bottom, 
                      $color-dark-blue, 
                      $color-light-blue
                    );
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
  
  &__container {
    position: absolute;
    top: 30%;
    left: 8%;
    width: 48rem;

    &__h1 {
      color: white;
      font-size: 8rem;
    }

    &__bar {
      padding: .3em;
      background-color: $color-yellow;
      width: 43%;
      margin: 2.4rem 0;
    }

    &__p {
      font-size: 2.3rem;
      color: white;
    }
  }
}