@import '../../../assets/sass/main.scss'; 

.confirmation-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42.5rem;
    height: 10rem;
    justify-content: space-evenly;
    z-index: 10000;
}

@media (max-width:500px) {
    .confirmation-area {
        text-align: center;
        width: 30.5rem;
        padding-bottom: 4rem;
    }

    .confirmation-area__buttons{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;   
    }
}

.confirmation-area p {
    margin-bottom: .8em;
    font-size: 2.2em;
}

.confirmation-area__buttons{
    display: flex;
    flex-direction: row; 
    width: 110%;
    justify-content: space-evenly;   
}

