@import '../../assets/sass/main.scss';

.reports {
    background-color: $color-white;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.reports__area {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-right: 4%;
    padding-left: 4%;
}

.reports__area__resumes {
    display: flex;
    flex-wrap: wrap;
    width: 90em;
    justify-content: space-between;
    align-content: flex-start;
    height: 45em;
    overflow-y: auto;
    padding-top: 2em;
}

.reports__button {
    float: right;
    margin-right: 5.5em;  
    margin-top: 2em; 
}