@keyframes fall {
  
  0% {
    opacity: 0;
    transform: translate(-50%, -100vh);
  }

  65% {
    transform: translate(-50%, -42%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translate(0, 11rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  } 
}

@keyframes close {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, 11rem);
  } 
}