@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cutive+Mono|Montserrat);

$montserrat: 'Montserrat', sans-serif;
$alfa-slab-one: 'Alfa Slab One', cursive;
$cutive-mono: 'Cutive Mono', monospace;

h1, h2, h3, h4, h5, h6 {
    font-family: $alfa-slab-one;
    font-weight: normal;
}

body {
    font-family: $montserrat;
    font-weight: normal;
}

.base-button {
    font-family: $montserrat;
    font-weight: normal; 
}

.receipt-font {
    font-family: $cutive-mono !important;
    font-weight: normal; 
}