@import "../../../assets/sass/main";

.container-receipts {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 5em;
    width: 80%;
    justify-content: center;
    margin-left: 10em;

    &__receipt-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.5em;
        font-weight: 600;
        margin-left: .5rem;
    }
}