@import "../../../assets/sass/main";

.receipt-all-position{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-left: 7em;
    margin-top: 2em;
}
