@import "../../../assets/sass/main";

.report {
    min-width: 40em;
    height: 50em;
    border: solid 1px $color-dark-blue;
    position: relative;
    border-radius: 5px;
    float: right;
    margin-bottom: 2em;
    padding: 3em;
    padding-top: 2em;

    &__warning {
        padding-top: 58%;
        &__content{
            color: $color-dark-blue;
            margin: auto;
            text-align: center;
        }
    }

    &__total {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 7%;
        font-size: 150%;
        padding-bottom: 3%;
        padding-top: 3%;
        border-top: solid 1px $color-dark-blue;
    }

    &__content {
        height: 96%;
        overflow-y: auto;

        &__labels {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 0.5em;
            margin-bottom: 1em;
            border-bottom: solid 1px $color-dark-blue;
            &__data{
                font-size: 150%;
            }
        }
    }
}

.pulsing-text-report { 
    animation: pulse 0.7s 0.5s infinite alternate backwards;
}