@import "../../assets/sass/main.scss";

.confirm-area {
    text-align: center;
}

.confirm-icon {
    width: 20rem;
    margin: 2rem;
}

.confirm-message {
    font-size: 3rem;
    color: $color-dark-blue;
    margin-bottom: 5rem;
}