@import "../../../assets/sass/main";

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 500;
    background-color: $color-white;
    box-shadow: 1px 1px 10px $color-black;
    padding: 2rem;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
}

.show {
    animation-timing-function: cubic-bezier(0.145, 0.260, 0.320, 1.050);
    animation-duration: 1s;
    animation-name: fall;
  }
  