@import "../../../assets/sass/main";

.compare-area {
  height: 80%;
  width: auto;
  
  &__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 3rem;
    //height: 80%;
    //justify-content: space-around;
    &__input-area {
      display: flex;
      justify-content: center;
      &__edit-image {
        background-color: red;
        width: 30px;
      }
    }    
  }

  &__comparing {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}

