@import "../../../assets/sass/main";

.compare-area {
  height: 80%;
  width: 1000px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-top: 40px;

  &__preview {
    border: solid 1px black;
    width: 45rem;
    height: 65rem;
  }

  &__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
  &__content {
    display: flex;
    flex-flow: column;
    margin: 10px;
    margin-top: 4rem;
    width: inherit;
    &__product {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__comparing {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}

