@import "../../../assets/sass/main";

.area-buttons{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 48rem;
    justify-content: space-between;
    
}

.change-buttons{
    display: flex;
    flex-flow: column;
    align-content: space-around;
    height: 500px !important;
}

a{
    margin-top: 1rem;
    margin-left: 5rem;
}

.receipt-area{
    height: 80%;
    display: flex;
    flex-flow: column;
    padding-top: 1rem;
    font-size: 2rem;
   
}
p{
    padding-top: 2rem;
}


.receipt{
    display: flex;
    justify-content: center;
}
