@import "../../../assets/sass/main";

.area-buttons{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 47rem;
    margin-left: 5rem;
    &__change-buttons{
        display: flex;
        flex-flow: column;
        justify-content: space-around;    
        height: 30%;    
    }
}

.receipt-area{
    flex-flow: column;
    justify-content: space-around;
    height: 30%;
    display: flex;
    margin-top: 3rem;
    margin-left: 4rem;
    font-size: 2rem;
}
