@import "../../../assets/sass/main";

.receipt-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    flex-wrap: wrap;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .receipt-info {

        &__data {
            font-size: 100%;
        }
    }
   }
@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */ 
    .receipt-info {

        &__data {
            font-size: 150%;
        }
    }
   }
@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .receipt-info {

        &__data {
            font-size: 150%;
        }
    }
   }
@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .receipt-info {

        &__data {
            font-size: 150%;
        }
    }
   }
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 
    .receipt-info {

        &__data {
            font-size: 130%;
        }
    }
   }
@media (min-width:1281px) {
    /* hi-res laptops and desktops */ 
    .receipt-info {

        &__data {
            font-size: 150%;
        }
    }
   }