@import "../../../assets/sass/main";

.receipt-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    flex-wrap: wrap;
}

.receipt-info__data {
    font-size: 150%;
}
