@import "../../../../assets/sass/main.scss";

.base-button {
  font-size: 1.5rem;
  border-radius: 4px;
  user-select: none;
  height: 40px;
  cursor: pointer;
  width: 15rem;
  transition: all .3s;
  text-align: center;
  padding: .5rem;


  @media screen and (max-width: 980px) {
    font-size: 1.3rem;
  }

  &--small {
    width: 10em;
    font-size: 1.5rem;
  }

  &--medium {
    width: 15em;
    font-size: 1.4rem;
    margin-bottom: 1.2em;
  }
}

.confirm {
  color: $color-white;
  background-color: $color-dark-blue;
  border: 2px solid $color-dark-blue;
}

.cancel {
  text-align: center;
  color: $color-dark-blue;
  border: 1px solid $color-dark-blue;
}

.delete {
  text-align: center;
  color: $color-red;
  border: 1px solid $color-red; 
}

.delete:hover {
  color: $color-white;
  background-color: $color-red;
}

.cancel:hover {
  color: $color-white;
  background-color: $color-dark-blue;
  color: #FE7185;
  border: 2px solid #FE7185;
}

.edit {
  color: $color-light-blue;
  border: 2px solid $color-light-blue;
}

.choose-file {
  font-family: 'Alfa Slab One', cursive;
  border: 1px solid $color-light-blue;
  font-weight: 100;
  &:hover {
    box-shadow: 0 1px 1px $color-black;
    transform: translateY(-0.3rem);
  }
  
  &:active {
    box-shadow: 0 0 0 $color-black;
    transform: translateY(0);
  }
}