@import "../../../assets/sass/main";

.input {
  padding: .5rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid $color-black;
  margin: .4rem;
  outline: none;

  background-color: rgba($color-white, .5);
  font-family: $cutive-mono;
}

.large {
  width: 20rem;
}

.small {
  width: 13rem;
}