@import "../../assets/sass/main.scss";

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

input {
    display: block;
    width: 25em;
    height: 2em;
    border: none;
    border-bottom: 0.1em solid $color-black;
    margin-bottom: 0.8em;
    background-color: $color-white;
    
}

input:focus {
    outline: 2em;
    border-color: $color-dark-blue;
    font-family: $montserrat;
    color: $color-black;
}

label {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 1.5em;
    color: $color-black;    
}

h2 {
    margin: 1em 0em 1em 0em;
    font-size: 1.7em;
    
}

h1 {
    text-align: center;
}

.register{
    width: 90em;
}

.register__button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
}

p {
    font-family: $montserrat;
    color: $color-black;
    font-weight: 400;
    font-size: 1em;
}

.description{
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.description__quetion{
    background-color: $color-dark-blue;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: .5em;
    color: white; 
    justify-content: flex-end;
    margin: 0;
    padding: .2em;
    cursor: pointer;

}