@import "../../assets/sass/main.scss";

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

input {
    display: block;
    width: 25em;
    height: 2em;
    border: none;
    border-bottom: 0.1em solid $color-black;
    font-family: $montserrat;
    color: $color-black;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0.8em;
    background-color: $color-white;
}

input:focus {
    outline: 2em;
    border-color: $color-dark-blue;
    font-family: $montserrat;
    background-color: white;
    color: $color-black;
}

label {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 1.5em;
    color: $color-black;
    
}

h2 {
    margin: 1em 0em 1em 0em;
    font-size: 1.7em;
    
}

h1 {
    text-align: center;
}

.register{
    width: 90em;
}

.register__button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
}

/*
.register__form {
    display: flex !important;
    flex-direction: column;
    padding: 1em;
}

.register {
    display: flex;
    flex-direction: column;
}


.register__form__local input {
    width: 5em;
}

.register__form__local__cidade input {
    width: 12em;
}

.register__form__local {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register__form--company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register__form__company input {
    width: 50em;
}

.register__form--adm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label{
    color: red;
}*/
