@import '../../assets/sass/main.scss';

.dashboard {
    background-color: $color-white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    
    &__area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2%;
        padding-bottom: 0 !important;

        &__report {
            padding-bottom: 5%;

            &__button {
                margin-top: 5%;
                float: right; 
            }
        }

        &__content {

            &__datepicker {
                width: 302px;
            }

            &__graphs {
                margin-top: 5%;
                margin-bottom: 5%;
                overflow-y: hidden;
                margin-left: -1%;
            }
        }
    }
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .dashboard {
        &__area {
            padding: 5%;

            &__content {
                width: 100%;
                margin: auto;

                &__datepicker {
                    margin: auto;
                }

            }

            &__report {
                margin: auto;
            }
        }
    }
}
@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */ 
    .dashboard {
        &__area {
            padding: 0;

            &__content {
                width: 80%;

                &__datepicker {
                    padding-top: 5%;
                    margin: auto;
                }

            }

            &__report {
                margin: auto;
            }
        }
    }
}
@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .dashboard {
        &__area {
            padding: 0;

            &__content {
                width: 90%;

                &__datepicker {
                    margin: auto;
                }

            }

            &__report {
                margin: auto;
            }
        }
    }
}
@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .dashboard {
        &__area {

            &__content {
                width: 90%;

                &__datepicker {
                    margin: 0;
                }

            }

            &__report {
                margin: auto;
            }
        }
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 
    .dashboard {
        &__area {

            &__content {
                width: 90%;
                
                &__datepicker {
                    margin: 0;
                }

            }

            &__report {
                margin: auto;
            }
        }
    }
}

@media (min-width:1100px) {
    /* hi-res laptops and desktops */ 
    .dashboard {
        overflow-y: hidden;
        &__area {
            padding: 3%;

            &__content {
                width: 55%;
                margin: 0;

                &__datepicker {
                    padding-top: 0;
                    margin: 0;
                }

            }

            &__report {
                padding: 0;
                margin: 0;
            }
        }
    }
}
@media (min-width:1500px) {
    /* hi-res laptops and desktops */ 
    .dashboard {
        &__area {

            &__content {
                width: 67%;

                &__datepicker {
                    margin: 0;
                }

            }

            &__report {
                margin: 0;
                padding: 0;
            }
        }
    }
}