@import '../../assets/sass/main.scss';

.dashboard {
    background-color: $color-white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-x: hidden;

    &__content {
        display: flex;
        justify-content: space-between;

        &__datepicker {
            padding: 5%;
        }

        &__report-area {
            width: 50em;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding-top: 5%;
            padding-right: 5%;
            padding-left: 5%;
        }
    }

}