@import "../../../assets/sass/main.scss";

.drop-area {
  height: 480px;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  color: $color-light-blue;
  border: 6px dashed rgba($color-light-blue, .6);
  border-radius: 30px;
  padding: 3rem;

  &__title {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    font-size: 3rem;
  }

  &__p {
    font-family: 'Alfa Slab One', cursive;
    margin-top: 25px;
    font-size: 2rem;
  }
}