@import "../../../assets/sass/main";

.navbar{
    width: 100% !important;  
    height: 5.5em;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 21px -5px rgba(53,53,53,1);
    -moz-box-shadow: 0px 0px 21px -5px rgba(53,53,53,1);
    box-shadow: 0px 0px 21px -5px rgba(53,53,53,1);
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    margin-right: 4em;
    font-size: .9em;  
}

.navbar-logo{
    margin-left: 4em;
}

nav{
    font-size: 1.7em;
}

nav h1{
    font-size: 1.75em;
}

nav a{
    color: $color-black;
    text-decoration: none;
}