@import "../../../assets/sass/main";

.receipt-adder {
  z-index: 100;
  padding: 3rem 6rem;
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
  }
}
