@import "../../../assets/sass/main";

.receipt-adder {
  padding: 60px 40px;

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }
}
