@import "../../../assets/sass/main.scss";

.confirm-area {
    text-align: center;
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.confirm-icon {
    width: 20rem;
    margin-bottom: 3rem;
    transform: scale(0.9)
}

.confirm-message {
    font-size: 3rem;
    color: $color-dark-blue;
    margin-bottom: 5rem;
}

.error {
    color: $color-red;
}