.receipt {
    height: 1500px;
    width: 500px;
    background-image: url("../../../assets/img/nota.png");
    background-size: contain ;
    background-repeat: no-repeat;
    background-size: 500px;
}

.receipt__content {
    word-wrap: break-word;
    width: 300px;
    text-align: center;
    margin: auto;
}

.receipt__content__text {
    padding-top: 100px;
}