.receipt {
    background-image: url("../../../assets/img/notaY.svg");
    background-repeat: no-repeat;
    background-position: center;
    &--small {
        background-size: 100px;
        width: 200px;
        height: 335px;
        background-size: 200px;
        margin-top: 5rem;
        cursor: pointer;
    }
    &--large {
        width: 29rem;
        height: 50rem;
        background-size:100%;
    
       /*  @media screen and (min-width: 1400px) {
            width: 40rem;
            height: 60rem;
            background-size: 90% auto;
        } */
    }
}
