.receipt {
    background-image: url("../../../assets/img/notaY.svg");
    background-repeat: no-repeat;

    &--small {
        background-size: 100px;
        margin-right: 3em;
        margin-top: 2em;
        width: 200px;
        height: 400px;
        background-size: 200px;
    }
    &--large {
        width: 50rem;
        height: 83rem;
        background-size: 50rem;
    
    }
}
